<section class="masthead">
	<div><span class="logo bold">rabbit</span><span class="logo">challenge</span></div>
	<div class="logo_img">
	<%= image_tag("home_rabbit.png", :alt => "rabbit logo", :class => "resp_image_sm" ) %>
	</div>
	<div class="welcome">Welcome back Robert Lowe</div>
</section>

<!-- 
<%= form_tag(search_users_path, method: 'get') do %>
      <%= text_field_tag(:search, params[:search]) %>
      <%= submit_tag("Search", name: nil) %>
<% end %>
 -->

<section class="section_other">
	<div><h1><span class="bold">my</span> challenge</h1></div>
	<div class="progress"><%= image_tag("status.png", :alt => "day 6" ) %></div>
</section>

<section class="home_sections">
	<%= image_tag("day06.png", :alt => "status bar" ) %>
	<div>Journaling</div>how to write a meaningful journal
	<div>For today's journal entry, describe two self-discoveries that you believe will positively impact your happyness.</div>
	<div><%= image_tag("done_ball_check.png", :alt => "done" ) %>done</div>
</section>

<section>
	<div>resources</div>
	<div></div>
	<div>how to write a meaningful journal</div>
	<div>One of my favorites, the microtheme, supports comprehension, extends thinking, improves confidence, and bolsters writing across the content areas... read more</div>
</section>

<footer>
	<p>&copy;<span class="bold">rabbit</span>challenge</p>
	<div class="b_rabbit"><%= image_tag("low_rabbit.png", :alt => "footer rabbit" ) %></div>
</footer>
