<section class="home_logo">
	<div><span class="logo bold">rabbit</span><span class="logo">challenge</span></div>
	<div class="logo_img">
	<%= image_tag("home_rabbit_big.png", :alt => "rabbit logo", :class => "resp_image" ) %>
	</div>
</section>
<section class="home_sections">
	<div class="left_text">
		<h2>challenge your <span class="bold">rabbits</span></h2>
		<p>Change the pace of your day, challenge your habits. Our challenges are enjoyable and safe for teens who want to feel better, improve fitness and strength.</p>
		<p>We help schools and communities implement personal improvement programs for groups large and small.</p>
		<p><span>Contact us</span> to bring rabbitchallenge to your community.</p>
	</div>
	<div class="right-box">
		<%= image_tag("challenge_pic.jpg", :alt => "children" ) %>
	</div>
</section>
<section class="home_sections">
	<h2><span class="bold">90 days</span> of activities</h2>
	<div class="four_icons">
		<div class="top_m">
			<%= image_tag("icon_journal.png", :alt => "journal" ) %>
		</div>
		<h3>Journaling</h3>
		<div class="activities">Writing down thoughts and feelings to understand them more clearly.</div>
	</div>
	<div class="four_icons">
		<div class="top_m">
			<%= image_tag("icon_sport.png", :alt => "activity" ) %>
		</div>
		<h3>Activity</h3>
		<div class="activities">Exercise improves mental health by reducing anxiety, and by improving self-esteem and cognitive function.</div>
	</div>
	<div class="four_icons">
		<div class="top_m">
			<%= image_tag("icon_meditation.png", :alt => "meditation" ) %>
		</div>
		<h3>Meditation</h3>
		<div class="activities">Practicing meditation helps you to slow your breath, quiet your mind, and find peace.</div>
	</div>
	<div class="four_icons">
		<div class="top_m">
			<%= image_tag("icon_group.png", :alt => "engagement" ) %>
		</div>
		<h3>Engagement</h3>
		<div class="activities">Participation in group activities provides a sense of value, belonging and attachment.</div>
	</div>
</section>
<section class="home_sections">
	<h2><span class="bold">follow</span> the rabbit</h2>
	<div class="left_text">
		<p>More than 2000 users have experienced the benefits of our programs. Contact us so if you want to offer the 90 day standard program or develop a custom rabbitchallenge to your community.</p>
	</div>
	<div class="right-box"><h4>“I joined a soccer team, made new friends and started to feel a lot better at school.”<span class="byline">Brendan - 12yo</span></h4></div>
</section>
<footer>
	<p><span class="bold">rabbit</span>challenge</p>
	<div class="b_rabbit"><%= image_tag("low_rabbit.png", :alt => "footer rabbit" ) %></div>
</footer>















